img {
    width: 80%;
    clip-path: circle(50%);
    margin-top: 5%;
}

.container {
    display: flex;
    column-gap: 1%;
    width: 100%;
    height: 100vh;
}

.container #sidebar {
    background-color: #37376893;
    border-radius: 10px;
    width: 25%;
}

.container #body {
    background-color: #37376893;
    width: 75%;
    border-radius: 10px;
    padding: 5% 5% 5% 5%;
}

